@use '/scss/abstract/variables';
@use '/scss/abstract/mixins';

body    {
    font-family: variables.$font-stack;

    @include mixins.layout('mobile'){
        background-image: url("/images/bg-intro-mobile.png");
        background: variables.$red;
    }
    @include mixins.layout('desktop'){
        background-image: url("/images/bg-intro-desktop.png");
    }
    
}