@use '/scss/abstract/variables';
@use '/scss/abstract/mixins';

.wrapper    {
    // this line of code on the wrapper element prevents horizontal scrolling and hides the horizontal scrollbar
    overflow-x: hidden;
    @include mixins.layout('mobile'){
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(min-content, 4rem));
        align-items: center;
        justify-items: center;
        @include mixins.layout('mobile'){
            // technically a max-width rem of 20 makes the site responsive up to almost 1000, but we can use other media queries for adjusting to better fit larger screens like tablets and desktops
            max-width: 20rem;
            // always take up 100% of the max width
            width: 100%;
        }
    }

    // > * {

    // }
}