@use '/scss/abstract/variables';
@use '/scss/abstract/mixins';

// font styles

.--is-normal   {
    font-weight: variables.$font-weight-normal;
    font-size: variables.$font-body-copy;
    // apply a smaller p font at smaller breakpoints
    @include mixins.layout('mobile'){
        font-size: variables.$font-body-copy-mobile;
    }
}

.--is-x-bold   {
    font-weight: variables.$font-weight-bold;
}

.--is-x-bold   {
    font-weight: variables.$font-weight-bold;
}

// colors
.--white        {
    color: variables.$white;
}

.--is-grey-blue{
    color: variables.$grayish-blue;
}

.--is-red   {
    color: variables.$red;
}

// we know that the colors given here are used as background colors
.--is-blue     {
    background-color: variables.$blue;
}
.--is-green     {
    background-color: variables.$green;
}

.--is-transparent-red   {
    background-color: variables.$transparent-red;
}
