@use '/scss/abstract/variables';
@use '/scss/abstract/mixins';

// font styles

.--is-normal   {
    font-weight: variables.$font-weight-normal;
    font-size: variables.$font-body-copy;
}

.--is-x-bold   {
    font-weight: variables.$font-weight-bold;
}

.--is-x-bold   {
    font-weight: variables.$font-weight-bold;
}

// colors
.-white        {
    color: variables.$white;
}

.--is-grey-blue{
    color: variables.$grayish-blue;
}

.--is-red   {
    color: variables.$red;
}

.--is-blue     {
    background-color: variables.$blue;
}

.--is-green     {
    background-color: variables.$green;
}
