@use '/scss/abstract/variables';
@use '/scss/abstract/mixins';

.card   {
    @include mixins.layout('mobile'){
        grid-row-end: 3;
        padding: 1%;
        border-radius: 15px;
        display: grid;
        align-content: center;
        justify-items: center;
        width: 20rem;
        height: 5rem;
    }

    &__content{
        line-height: 1.5;
        text-align: center;
    }
}