@use '/scss/abstract/variables';
@use '/scss/abstract/mixins';

.card   {
    // base styles for a card
    @include mixins.layout('mobile'){
        padding: 1%;
        border-radius: 15px;
        display: grid;
        align-content: center;
        justify-items: center;
    }

    .callout__card{
        @extend %card;
        grid-row-end: 3;
        width: 10rem;
        height: 5rem;

        &__card__content {
            line-height: 1.5;
            text-align: center;
        }
    }
}