@use '/scss/abstract/variables';
@use '/scss/abstract/mixins';

.component-form{
    background-color: variables.$white;
    border-radius: 15px;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-top: 4rem;
    align-content: space-evenly;
    gap: 0.8rem;
    padding: 3%;
    height: 22rem;
    width: 90%;
    grid-row-end: 4;
    
    // the input should really be relative to the form, but this styling works great for now
    input {
        width: 15rem;
        padding: 4%;
        border: variables.$grayish-blue solid 1px;
        font-weight: bold;
    };
}