@use '/scss/abstract/variables';
@use '/scss/abstract/mixins';

.component-form{
    background-color: variables.$white;
    border-radius: 15px;
    margin-top: 4rem;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    align-content: space-evenly;
    gap: 0.8rem;
    padding: 3% 3% 10% 3%;
    width: 20rem;
    grid-row-end: 4;

    input {
        width: 17rem;
        padding: 2% 2% 2% 4%;
        border: variables.$grayish-blue solid 1px;
        font-weight: bold;
    };
}