@use '/scss/abstract/variables';
@use '/scss/abstract/mixins';

.introduction  {
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    color: variables.$white;
    text-align: center;
    
    &__header   {
        // not needed as we have a class applied in html
        // font-weight: variables.$font-weight-x-bold;
    }

    &__content  {
        // not needed as we have a class applied in html
        // font-weight: variables.$font-weight-normal;
    }
}