@use '/scss/abstract/variables';
@use '/scss/abstract/mixins';

.legal  {
    @include mixins.layout('mobile'){
        font-size: variables.$font-body-copy-mobile;
        position: relative;
        width: 20rem;
        grid-row-end: 6;
        text-align: center;
    }
}