@use '/scss/abstract/variables';
@use '/scss/abstract/mixins';

.legal  {
    grid-row-end: 6;
    text-align: center;
    @include mixins.layout('mobile'){
        font-size: variables.$font-body-copy-mobile;
    }
}