@use '/scss/abstract/variables';
@use '/scss/abstract/mixins';

.legal  {
    @include mixins.layout('mobile'){
        font-size: variables.$font-body-copy-mobile;
        text-align: center;
        width: 95%;
    }
}